<%- include('./partials/header'); %>
    <title><%=title%></title>
</head>

<body>
    <%- include('./partials/navbar'); %>
    <h2 class="text-center display-1"><%= titre %></h1>
    <%- include('./partials/script'); %>
</body>

</html>